body {
    position: relative;
    width: 1000px;
    height: 1000px;
    margin-left: 20%;
    margin-right: auto;
}

header {
    position: absolute;
    top: 45%;
    left: 55%;
}

#listSection {
    display: inline-block;
    width: 50%;
    height: -100%;
    position: absolute;
    top: 60%;
    left: 40%;

}

#list_Ul {
    padding: 0px;
}

li {
    position: relative;
    list-style-type: none;
    border: 2px gray solid;
    background-color: beige;
    margin-top: 1px;
    width: 500px;
}

li:hover {
    background-color: aquamarine;
}

li.completed {
    text-decoration: line-through;
}

/* List 안에 있는 Delete 버튼 */
li>button {
    position: absolute;
    margin: 0;
    right: 1%;
}

/*
.addButton {
    border: none;
}
*/